{% extends 'base.html.twig' %}

{% block title %}Nous vous remercions!{% endblock %}
{% block body %}
    <main id="main">
        <section class="intro-single">
            <div class="container">
               {% for message in app.flashes('success') %}
                 <div class="alert alert-success">
                  {{ message }}
                 </div>
                 {% endfor %}
                        <div class="col-12">
                            <h4 class="text-center">Merci!!!</h4>
                                <div class="text-center">
                                 <p>Merci d'avoir pris tout ce temps pour remplir ce formulaire, l'agence <strong>Kaay Dëkk</strong> et ses partenaires vous remercient</p>
                                 <p>Votre demande sera traitée et nous vous reviendrons dans les plus brefs délais.</p>
                                <img src="{{asset('assets/images/logo-kdi.png') }}" class="rounded float-left"  alt="...">
                               </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
