{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}
    <main id="main">
        <section class="intro-single">
            <div class="container">
                <div>
                    <h2>Veuillez suivre ce lien ci dessous, pour continuer votre inscription</h2>
                    <h2>Nous avons récemment migré le site vers un serveur plus sécurisé
                    <span><a href="https://kaay-dekk.oneagegroup.com/inscription">Inscrivez-vous par ici</a></span>
                    </h2>
                    <h2>L'agence kaay dëkk, vous remercie de la confiance accordée!!!</h2>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
